@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --wp-text-color: #171717;
  --wp-bg-color: #ffffff;
  --wp-link-color: #2563eb;
  --wp-border-color: #e5e7eb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--wp-bg-color);
  color: var(--wp-text-color);
  font-family: Arial, Helvetica, sans-serif;
}
